.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: black;
    border-radius: 40px;
    padding: 5px 8px;

}
  
.closebtn:hover {
  color: black;
  background-color: white;
}

.message {
    max-width: 90%;
}